@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="ShowCompanies">Companies</a>
    <a asp-action="AddUsers">Add users</a>
    <a asp-action="ShowUsers">Show users</a>
</div>
